{% extends 'my_site/base.html' %}
{% load staticfiles %}

{% block title_block %}
    习题集
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="table-responsive panel panel-primary">
        <div class="panel-heading">习题集</div>
        <div class="panel-body">
            <p>This is a amazing category</p>
        </div>
        <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>问题序号</th>
            <th>作者</th>
            <th>题目描述</th>
            <th>发布时间</th>
        </tr>
        </thead>
        <tbody>
        {% if questions %}
        {% for question in questions %}
        <tr>
        <td><a href="{% url 'question_detail' question.id %}">{{ forloop.counter }}</a></td>
        <td><a href="{% url 'question_detail' question.id %}">{{ question.id }}</a></td>
        <td><a href="{% url 'show_user_profile' question.author.id %}">{{ question.author.username }}</a></td>
        <td>
            <a href="{% url 'question_detail' question.id %}">{{ question.abbreviated_text }}</a>
        </td>
        <td>{{ question.published_date|date:'Y-n-j' }} {{ question.published_date|time:'H:i:s' }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="?page={{ pre_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li>
                    <a href="?page={{ next_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}